body {
  margin: 20px 40px;
  background-color: rgb(56, 62, 63);
  color: white;
}

.job {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
}

.job:hover {
  cursor: pointer;
  color: #666666;
}

.detail-logo {
  height: 30px;
  float: right;
}

.flex-align-mid {
  display: flex;
  align-items: center;
}

.job-title-location {
  margin-left: 20px;
}
